.jumbotron {
  text-align: center;
  background-image: url("../img/backgrounds/landing.jpg");
  background-attachment: fixed;
  padding: 0;
  border: none;
  margin: 0;
  height: 700px;
  padding-top: 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  font-family: Georgia, serif;
  font-size: 35px;
  color: white;
  padding-top: 60px;
}

.image-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.happy-hour1 {
  color: black;
}

.happy-hour2 {
  color: blue;
}

.happy-hour3 {
  color: black;
}

.happy-hour4 {
  color: black;
}

#sohappy {
  background-color: #ccc;
  padding: 30px;
  text-align: center;
  font-style: arial, sans-serif;
}

#amhappy {
  background-color: #ff4500;
  padding: 30px;
  text-align: center;
  color: white;
  margin-top: -10px;
}

.row1 {
  margin-top: -20px;
}

.mnbar {
  padding-top: 65px;
}

.sdbar {
  padding: 58px;
}

.mnbar1 {
  margin-left: 45px;
  background-color: none;
}

.sdbar1 {
  text-align: right;
}

.nav1 {
  margin-top: 100px;
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}

.van {
  margin: 0px 300px 50px 300px;
  border: 1px solid red;
  background-color: white;
  height: 300px;
}

.van ul {
  background-color: #DCDCDC;
  color: orange;
}

#FastFood img {
  float: left;
  width: 33.3%;
}

.geo {
  padding-left: 100px;
 text-align: center;
 margin: 1000px 100px;
}

.geo h1 {
  color: #FF4500;
}
